html, body, * {
    background-color: #000;
    margin: 0.2vw;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    border-radius: 5px;
    --clr-selected: #ffc000;
}

main#main {
    display: grid;
    grid-template-columns: 6fr 1fr;
    grid-template-rows: 1fr;
    width: 98vw;
    height: 98vh;
    gap: 0.2vw;
    justify-items: stretch;
    align-items: stretch;
    border: 1px solid #333;
    margin: 1vw auto;
}

canvas, #controls, #shapes, #params {
    border: 1px ridge #7a7265;
    margin: 0.5vw;
    background-color: #000;
}

#controls {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 9fr 9fr;
    padding: 0.5vw;
    color: #fda;
}

#controls > h1 {
    font-size: 1vw;
}

input[type=checkbox].curve-check {
    padding-top: 0.5vh;
}

aside#help {
    display: none;
    position: fixed;
    background-color: #222;
    color: antiquewhite;
    border: 1px solid #f04;
    top: 5vh;
    left: 50vw;
    padding: 1vw;
    margin: 5px;
}
aside#help button {
    background-color: #fa0;
    columns: #000;
    width: 3vw;
    height: 3vh;
    margin-top: 1vh;
    font-size: 1vw;
}
aside#help table {
    padding: 1vw;;
}

input[type="checkbox"] {
    appearance: none;
    position: relative;
    width: 2em;
    height: 2em;
    border: 1px solid gray;
    color: var(--clr-selected);
  }
  
input[type="checkbox"]::before {
    content: "☀";
    position: absolute;
    font-size: 1.2em;
    right: 5px;
    top: 2px;
    visibility: hidden;
}

input[type="checkbox"]:checked::before {
    visibility: visible;
}

input[type="checkbox"]:disabled {
    border-color: black;
    background: #ddd;
    color: gray;
}

fieldset {
    display: grid;
    border: none;
    padding: 0.4vw;
}

label {
    display: inline-block;
    color: rgb(0, 255, 98);
}

label:has(+input:checked) {
    color: var(--clr-selected);
}

select, select > option {
    font-size: 1vw;
    color: #0df;
    padding-left: 1vw;
}

#details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#details, #details > p {
    color: #0f9;
    padding: 0.5vw;
}